<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="CommandGot" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chars" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/chars">
    <ion-nav-view name="tab-chars"></ion-nav-view>
  </ion-tab>


</ion-tabs>
